<a href="https://colab.research.google.com/github/Dharaneesh-EM/Pandas-Handling-missing-values/blob/main/exp1_6_ip_Dharaneesh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Exercise 1: Create a MultiIndex from a DataFrame
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('letters', 'numbers'))
df = pd.DataFrame({'values': [10, 20, 30, 40]}, index=index)
print("Exercise 1:\n", df)

Exercise 1:
                  values
letters numbers
A       1            10
        2            20
B       1            30
        2            40

Exercise 1: Create a MultiIndex from a DataFrame
from_arrays() is used to create a MultiIndex with two levels: letters and numbers.
The DataFrame is indexed using this MultiIndex.

In [ ]:
# Exercise 2: Create a MultiIndex using from_tuples()
arrays = [('A', 1), ('A', 2), ('B', 1), ('B', 2)]
index = pd.MultiIndex.from_tuples(arrays, names=('letters', 'numbers'))
df = pd.DataFrame({'values': [10, 20, 30, 40]}, index=index)
print("\nExercise 2:\n", df)

Exercise 2:
                  values
letters numbers
A       1            10
        2            20
B       1            30
        2            40

Exercise 2: Create a MultiIndex using from_tuples()
Instead of arrays, we use tuples to define the MultiIndex structure.
The result is similar to Exercise 1

In [ ]:
# Exercise 3: Create a MultiIndex using from_product()
index = pd.MultiIndex.from_product([['A', 'B'], [1, 2]], names=('letters', 'numbers'))
df = pd.DataFrame({'values': [10, 20, 30, 40]}, index=index)
print("\nExercise 3:\n", df)

Exercise 3:
                  values
letters numbers
A       1            10
        2            20
B       1            30
        2            40

Exercise 3: Create a MultiIndex using from_product()
Generates all possible combinations of two lists using from_product().
This ensures structured hierarchical indexing.

In [ ]:
# Exercise 4: Create a MultiIndex using set_index()
df = pd.DataFrame({'letters': ['A', 'A', 'B', 'B'], 'numbers': [1, 2, 1, 2], 'values': [10, 20, 30, 40]})
df = df.set_index(['letters', 'numbers'])
print("\nExercise 4:\n", df)

Exercise 4:
                  values
letters numbers
A       1            10
        2            20
B       1            30
        2            40

Exercise 5: Remove index levels from a MultiIndex
reset_index() removes the MultiIndex and turns them back into columns.

In [ ]:
# Exercise 6: Sort a MultiIndex DataFrame
df = df.set_index(['letters', 'numbers']).sort_index()
print("\nExercise 6:\n", df)

KeyError: "None of ['letters', 'numbers'] are in the columns"

Exercise 6: Sort a MultiIndex DataFrame
sort_index() sorts the MultiIndex in ascending order.

In [ ]:

# Exercise 7: Swap levels in a MultiIndex DataFrame
df = df.swaplevel()
print("\nExercise 7:\n", df)

Exercise 7: Swap levels in a MultiIndex DataFrame
swaplevel() swaps the two index levels.

In [ ]:
## Exercise 7: Swap levels in a MultiIndex DataFrame
df = df.swaplevel()
print("\nExercise 7:\n", df)

Exercise 7: Swap levels in a MultiIndex DataFrame
swaplevel() swaps the two index levels.

In [ ]:
# Exercise 8: Select a specific subset from a MultiIndex DataFrame
print("\nExercise 8:\n", df.loc['A'])

Exercise 8: Select a specific subset from a MultiIndex DataFrame
.loc[] is used to select all rows where the first index level is 'A'.

In [ ]:
# Exercise 9: Perform a cross-section (xs) on a MultiIndex DataFrame
print("\nExercise 9:\n", df.xs(1, level='numbers'))

Exercise 9: Perform a cross-section (xs()) on a MultiIndex DataFrame
xs() extracts all rows where the numbers index level is 1.

In [ ]:
# Exercise 10: Apply a function to a level in a MultiIndex DataFrame
df['values'] = df['values'].groupby(level='letters').transform(lambda x: x * 2)
print("\nExercise 10:\n", df)

Exercise 10: Apply a function to a level in a MultiIndex DataFrame
Groups the values column by letters and multiplies them by 2.

In [ ]:
# Exercise 11: Rename MultiIndex levels
df = df.rename_axis(index={'letters': 'alpha', 'numbers': 'num'})
print("\nExercise 11:\n", df)

Exercise 11: Rename MultiIndex levels
rename_axis() renames the index levels from letters ΓåÆ alpha and numbers ΓåÆ num.

In [ ]:
# Exercise 12: Remove a level from MultiIndex using droplevel()
df = df.droplevel('num')
print("\nExercise 12:\n", df)

Exercise 12: Remove a level from MultiIndex using droplevel()
droplevel('num') removes the numbers index level.

# Exercise 13: Check for uniqueness in MultiIndex DataFrame
print("\nExercise 13:\n", df.index.is_unique)

Exercise 13: Check for uniqueness in MultiIndex DataFrame
df.index.is_unique checks if each index combination is unique.

In [ ]:
# Exercise 14: Convert a MultiIndex DataFrame to a flat DataFrame
df = df.reset_index()
print("\nExercise 14:\n", df)

Exercise 14: Convert a MultiIndex DataFrame to a flat DataFrame
reset_index() is used again to flatten the MultiIndex into regular columns.

In [ ]:

# Exercise 15: Create a Pivot Table from a MultiIndex DataFrame
df = pd.DataFrame({'letters': ['A', 'A', 'B', 'B'], 'numbers': [1, 2, 1, 2], 'values': [10, 20, 30, 40]})
pivot_table = df.pivot_table(values='values', index='letters', columns='numbers', aggfunc='sum')
print("\nExercise 15:\n", pivot_table)

Exercise 15: Create a Pivot Table from a MultiIndex DataFrame
pivot_table() restructures the DataFrame, organizing values by letters and numbers.

Pandas Filter [ 27 exercises with solution ]

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
result = student_data.groupby(['school_code'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

Groups the DataFrame by column 'A' and counts the number of rows in each group.
This is useful for understanding how frequently each category appears in the dataset. It helps summarize categorical data efficiently.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
result = student_data.groupby(['school_code'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

Groups the DataFrame by multiple columns ('A' and 'B') and counts the number of occurrences for each combination.
This allows analyzing relationships between multiple categorical variables and identifying common patterns.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code, class wise:')
result = student_data.groupby(['school_code', 'class'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)

Groups the DataFrame by column 'A' and calculates the sum of numeric columns for each group.
This is useful when aggregating transaction amounts, total sales, or any other measurable quantities.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(student_data)
print('\nCast grouping as a list:')
result = student_data.groupby(['school_code'])
print(list(result))

Groups the DataFrame by column 'A' and calculates the sum of numeric columns for each group.
This is useful when aggregating transaction amounts, total sales, or any other measurable quantities.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(student_data)
print('\nCast grouping as a list:')
result = student_data.groupby(['school_code'])
print(list(result))

Finds the mean of numeric columns for each unique group in column 'A'.
This helps in understanding the average values per category, useful in analyzing trends like average sales or performance per group.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
grouped_single = student_data.groupby(['school_code'])
print("Size of the grouped data - single column")
print(grouped_single.size())
print('\nSplit the said data on school_code and class wise:')

grouped_mul = student_data.groupby(['school_code', 'class'])
print("Size of the grouped data - multiple columns:")
print(grouped_mul.size())

Applies multiple aggregation functions (like sum, mean) to grouped data at once.
This allows retrieving multiple summary statistics efficiently without requiring multiple groupby operations.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
grouped = student_data.groupby(['school_code'])
print("Call school code 's001':")
print(grouped.get_group('s001'))
print("\nCall school code 's004':")
print(grouped.get_group('s004'))

Filters out groups where the sum of column 'C' is less than or equal to 3.
This helps in keeping only significant groups that meet a certain threshold, useful in financial and business analytics.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
orders_data = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(orders_data)
result = orders_data.groupby('customer_id').agg({'purch_amt': ['mean', 'min', 'max']})
print("\nMean, min, and max values of purchase amount (purch_amt) group by customer id  (customer_id).")
print(result)

Iterates over grouped DataFrame, printing each group separately.
This helps inspect each category and its corresponding data, which is useful for debugging or exploratory analysis.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
orders_data = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(orders_data)
print("\nGroup by two columns and count by each row:")
result = orders_data.groupby(['salesman_id','customer_id']).size().reset_index().groupby(['salesman_id','customer_id'])[[0]].max()
print(result)

Transforms column 'C' by subtracting the mean of 'C' within each group.
This normalization method helps in making data comparable within groups, which is useful for statistical modeling.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
df_agg = df.groupby(['customer_id','salesman_id']).agg({'purch_amt':sum})
result = df_agg['purch_amt'].groupby(level=0, group_keys=False)
print("\nGroup on 'customer_id', 'salesman_id' and then sort sum of purch_amt within the groups:")
print(result.nlargest())

Computes the percentage of each value in column 'C' relative to the groupΓÇÖs total.
This is useful for analyzing the proportion of a categoryΓÇÖs contribution within a group, such as percentage sales per region.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
result = df.groupby('customer_id')['ord_date'].apply(list)
print("\nGroup on 'customer_id' and display the list of order dates in group wise:")
print(result)

Finds the largest n values in column 'C' for each group.
This is helpful for ranking items within categories, such as identifying the top-selling products in each region.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2012','08-17-2012','10-09-2012','07-27-2012','10-09-2012','10-10-2012','10-10-2012','06-17-2012','07-08-2012','04-25-2012'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
df['ord_date']= pd.to_datetime(df['ord_date'])
print("\nMonth wise purchase amount:")
result = df.set_index('ord_date').groupby(pd.Grouper(freq='M')).agg({'purch_amt':sum})
print(result)

Creates a pivot table summarizing column 'C' values grouped by column 'A'.
Pivot tables make it easier to visualize aggregated data and analyze trends across different groups.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2013','08-17-2013','10-09-2013','07-27-2014','10-09-2012','10-10-2012','10-10-2012','06-17-2014','07-08-2012','04-25-2012'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
df['ord_date']= pd.to_datetime(df['ord_date'])
print("\nYear wise Month wise purchase amount:")
result = df.groupby([df['ord_date'].dt.year, df['ord_date'].dt.month]).agg({'purch_amt':sum})
print(result)

Computes the cumulative sum of column 'C' within each group.
This is used to track running totals, such as cumulative sales or stock levels over time.

In [ ]:
import pandas as pd
df = pd.DataFrame( {'X' : [10, 10, 10, 20, 30, 30, 10],
                    'Y' : [10, 15, 11, 20, 21, 12, 14],
                    'Z' : [22, 20, 18, 20, 13, 10, 0]})
print("Original DataFrame:")
print(df)
result= df.groupby('X').aggregate(lambda tdf: tdf.unique().tolist())
print(result)

Fills missing values in column 'C' using the mean of 'C' for each group.
This method ensures missing data does not skew analysis, especially useful in machine learning preprocessing.

In [ ]:
import pandas as pd
df = pd.DataFrame( {'id' : [1, 2, 1, 1, 2, 1, 2],
                    'type' : [10, 15, 11, 20, 21, 12, 14],
                    'book' : ['Math','English','Physics','Math','English','Physics','English']})

print("Original DataFrame:")
print(df)
result = df.groupby(['id', 'type', 'book']).size().unstack(fill_value=0)
print("\nResult:")
print(result)

Ranks values in column 'C' within each group.
This assigns a ranking to each value, useful in competitions, sales leaderboards, and percentile calculations.

In [ ]:
import pandas as pd
df = pd.DataFrame( {'id' : [1, 2, 1, 1, 2, 1, 2],
                    'type' : [10, 15, 11, 20, 21, 12, 14],
                    'book' : ['Math','English','Physics','Math','English','Physics','English']})

print("Original DataFrame:")
print(df)
result = df.groupby(['id', 'type', 'book']).size().unstack(fill_value=0)
print("\nResult:")
print(result)

Retrieves the first row from each group.
This is useful when extracting initial transactions, earliest dates, or first occurrences of events per category.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.DataFrame({
'book_name':['Book1','Book2','Book3','Book4','Book1','Book2','Book3','Book5'],
'book_type':['Math','Physics','Computer','Science','Math','Physics','Computer','English'],
'book_id':[1,2,3,4,1,2,3,5]})
print("Original Orders DataFrame:")
print(df)
print("\nNew column with count from groupby:")
result = df.groupby(["book_name", "book_type"])["book_type"].count().reset_index(name="count")
print(result)

Counts the number of unique values in column 'C' within each group.
This helps analyze the diversity of values in each category, such as unique products sold per store.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'sales_id':[5002,5003,5004,5003,5002,5001,5005,5007,5008,5004,5005,5001]})
print("Original DataFrame:")
print(df)
groups = df.groupby(['customer_id', pd.cut(df.sales_id, 3)])
result = groups.size().unstack()
print(result)

Filters out groups that have only one row, keeping only those with multiple records.
This is useful for analyzing repeated events and ignoring single-instance occurrences.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s001'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(df)
print("\nGroup by with multiple aggregations:")
result = df.groupby(['school_code','class']).agg({'height': ['max', 'mean'],
                                 'weight': ['sum','min','count']})
print(result)

Finds the minimum and maximum value of column 'C' in each group.
This helps determine the range of values within a category, such as lowest and highest prices per brand.

In [ ]:
import pandas as pd
df = pd.DataFrame( {'id' : ['A','A','A','A','A','A','B','B','B','B','B'],
                    'type' : [1,1,1,1,2,2,1,1,1,2,2],
                    'book' : ['Math','Math','English','Physics','Math','English','Physics','English','Physics','English','English']})

print("Original DataFrame:")
print(df)
new_df = df[['id', 'type', 'book']].drop_duplicates()\
                         .groupby(['id','type'])['book']\
                         .apply(list)\
                         .reset_index()

new_df['book'] = new_df.apply(lambda x: (','.join([str(s) for s in x['book']])), axis = 1)
print("\nList all unique values in a group:")
print(new_df)

Counts the number of missing values in each group.
This helps in data cleaning by identifying categories with high levels of missing data.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    ' height ': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nMean, min, and max value of age for each school with customized column names:')
grouped_single = student_data.groupby('school_code').agg(Age_Mean = ('age','mean'),Age_Max=('age',max),Age_Min=('age',min))
print(grouped_single)

Computes the median of column 'C' within each group.
The median is useful when analyzing skewed data, such as income distributions within different demographics.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2012','08-17-2012','10-09-2012','07-27-2012','10-09-2012','10-10-2012','10-10-2012','06-17-2012','07-08-2012','04-25-2012'],
'customer_id':['C3001','C3001','D3005','D3001','C3005','D3001','C3005','D3001','D3005','C3001','D3005','D3005'],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
def customer_id_C(x):
    return (x.str[0] == 'C').sum()
result = df.groupby(['salesman_id'])\
  .agg(customer_id_start_C = ('customer_id', customer_id_C),
       customer_id_list = ('customer_id', lambda x: ', '.join(x)),
       purchase_amt_gap   = ('purch_amt', lambda x: x.max()-x.min())
      )
print("\nNumber of customers  starting with ΓÇÿCΓÇÖ, the list of all products and the difference of maximum purchase amount and minimum purchase amount:")
print(result)

Finds the variance of column 'C' within each group.
Variance measures data dispersion, helping understand consistency within groups, such as customer spending habits.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2012','08-17-2012','10-09-2012','07-27-2012','10-09-2012','10-10-2012','10-10-2012','06-17-2012','07-08-2012','04-25-2012'],
'customer_id':[3001,3001,3005,3001,3005,3001,3005,3001,3005,3001,3005,3005],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})
print("Original Orders DataFrame:")
print(df)
gr_data = df.groupby(['customer_id','salesman_id']).agg({'purch_amt': 'sum'})
gr_data["% (Purch Amt.)"] = gr_data.apply(lambda x:  100*x / x.sum())
print("\nPercentage of purch_amt in each group of customer_id:")
print(gr_data)

Computes the standard deviation of column 'C' within each group.
Standard deviation is useful for analyzing volatility, such as stock price fluctuations within different sectors.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(df)
dict_data_list = list()

for gg, dd in df.groupby(['school_code','class']):
    group = dict(zip(['school_code','class'], gg))
    ocolumns_list = list()
    for _, data in dd.iterrows():
        data = data.drop(labels=['school_code','class'])
        ocolumns_list.append(data.to_dict())
    group['other_columns'] = ocolumns_list
    dict_data_list.append(group)

print(dict_data_list)

Creates a new column storing the mean of 'C' for each group.
This is useful for comparing each value to its groupΓÇÖs average, helping in anomaly detection.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001],
'sale_jan':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 1760, 2983.43, 480.4,  1250.45, 75.29,1045.6],
'sale_feb':[250.5, 170.65, 15.26, 110.5, 598.5, 1400.6, 2760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_mar':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_apr':[150.5, 270.65, 95.26, 210.5, 948.5, 2400.6, 760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_may':[130.5, 270.65, 65.26, 310.5, 948.5, 2400.6, 760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_jun':[150.5, 270.65, 45.26, 110.5, 948.5, 3400.6, 5760, 983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_jul':[950.5, 270.65, 65.26, 210.5, 948.5, 2400.6, 5760, 983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_aug':[150.5, 70.65,  65.26, 110.5, 948.5, 400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_sep':[150.5, 270.65, 65.26, 110.5, 948.5, 200.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_oct':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_nov':[150.5, 270.65, 95.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_dec':[150.5, 70.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6]
})
print("Original Orders DataFrame:")
print(df)
print("\Result after group on salesman_id and apply different aggregate functions:")
df = df.groupby('salesman_id').agg(lambda x : x.sum() if x.name in ['sale_jan','sale_feb','sale_mar'] else x.mean())
print(df)

Computes a rolling mean of column 'C' within each group.
Rolling means smooth out fluctuations over a moving window, useful in trend analysis like sales forecasts

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'salesman_id': [5001,5002,5003,5004,5005,5006,5007,5008,5009,5010,5011,5012],
'sale_jan':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 1760, 2983.43, 480.4,  1250.45, 75.29,1045.6]})
print("Original Orders DataFrame:")
print(df)
result = df.groupby(pd.cut(df['salesman_id'],
                  bins=[0,5006,np.inf],
                  labels=['S1', 'S2']))['sale_jan'].sum().reset_index()
print("\nGroupBy with condition of  two labels and ranges:")
print(result)

Computes an expanding sum of column 'C' within each group.
Expanding sums show cumulative growth, such as total revenue over time for different regions.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df = pd.DataFrame({
    'student_id': ['S001','S001','S002','S002','S003','S003'],
    'marks': [[88,89,90],[78,81,60],[84,83,91],[84,88,91],[90,89,92],[88,59,90]]})
print("Original DataFrame:")
print(df)
print("\nGroupby and aggregate over multiple lists:")
result = df.set_index('student_id')['marks'].groupby('student_id').apply(list).apply(lambda x: np.mean(x,0))
print(result)

Finds the correlation between columns 'B' and 'C' within each group.
Correlation analysis helps understand relationships, such as whether increased marketing ('B') affects sales ('C').

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5004,5003,5002,5004,5001]})
print("Original Orders DataFrame:")
print(df)
print("\nGroupby to find first order date for each group(salesman_id):")
result = df.groupby('salesman_id')['ord_date'].min()
print(result)

Computes the cumulative product of column 'C' within each group.
This is useful for scenarios involving continuous growth rates, such as compound interest or population growth.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3002,3001,3004,3003,3002,3003,3001],
'salesman_id':[5002,5003,5001,5003,5002,5001,5001,5003,5003,5002,5003,5001]})
print("Original Orders DataFrame:")
print(df)
print("\nSplit the said data on 'salesman_id', 'customer_id' wise:")
result = df.groupby(['salesman_id', 'customer_id'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
n = 2
#result1 = df.groupby(['salesman_id', 'customer_id']).tail(n).index, axis=0)
print("\nDroping last two records:")
result1 = df.drop(df.groupby(['salesman_id', 'customer_id']).tail(n).index, axis=0)
print(result1)

Finds the most frequent (mode) value of column 'C' within each group.
The mode identifies the most common occurrence, such as the most popular product purchased per store.

1.Detect Missing Values: Identify missing values in a DataFrame and display them as a boolean DataFrame, where True indicates a missing value

EXERCISE 2

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Display the shape and column names
print("Shape of the dataset:", df.shape)
print("Column names:", df.columns.tolist())

Shape of the dataset: (100, 5)
Column names: ['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value']

Loads the dataset and prints its dimensions and column names.

In [ ]:
import pandas as pd

#Load the dataset
df = pd.read_csv('world_alcohol.csv')

#Select first 2 rows and first 2 columns
result = df.iloc[:2, :2]
print(result)

   Year       WHO region
0  1986  Western Pacific
1  1986         Americas

Retrieves the first two rows and first two columns of the dataset.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Select a random sample of 5 rows
random_rows = df.sample(n=5)
print("Random 5 rows:\n", random_rows)

# Select 10% random rows
fraction_rows = df.sample(frac=0.1)
print("Random 10% rows:\n", fraction_rows)

Random 5 rows:
     Year       WHO region                                Country  \
76  1985           Africa                                Comoros
6   1987           Africa                              Mauritius
2   1985           Africa                           Cte d'Ivoire
99  1985  South-East Asia  Democratic People's Republic of Korea
92  1986           Africa                                Eritrea

   Beverage Types  Display Value
76           Beer           0.02
6            Wine           0.13
2            Wine           1.62
99           Wine           0.00
92        Spirits           0.00
Random 10% rows:
     Year             WHO region            Country Beverage Types  \
10  1987                 Africa           Botswana           Wine
0   1986        Western Pacific           Viet Nam           Wine
88  1987  Eastern Mediterranean            Lebanon           Beer
69  1986                 Africa               Togo        Spirits
98  1984                 Africa  Equatorial Guinea           Wine
92  1986                 Africa            Eritrea        Spirits
51  1987                 Europe            Finland           Beer
38  1987  Eastern Mediterranean              Qatar          Other
45  1989                 Africa           Zimbabwe           Beer
1   1986               Americas            Uruguay          Other

    Display Value
10           0.20
0            0.00
88           0.42
69           0.42
98           0.00
92           0.00
51           3.88
38           0.00
45           0.19
1            0.50

Randomly selects 5 rows and then 10% of the rows from the dataset.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Drop rows with missing values
df_cleaned = df.dropna()
print("Dataset after dropping missing values:\n", df_cleaned)

Missing values in each column:
 Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64
Dataset after dropping missing values:
     Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

Identifies and removes rows with missing values.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Remove duplicates based on 'WHO region' column
df_unique_regions = df.drop_duplicates(subset='WHO region')
print("Dataset with unique WHO regions:\n", df_unique_regions)

Dataset with unique WHO regions:
     Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

Eliminates duplicate entries in the 'WHO region' column.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for the year 1986
df_1986 = df[df['Year'] == 1986]
print("Data for the year 1986:\n", df_1986)

Data for the year 1986:
     Year             WHO region                           Country  \
0   1986        Western Pacific                          Viet Nam
1   1986               Americas                           Uruguay
3   1986               Americas                          Colombia
8   1986               Americas               Antigua and Barbuda
20  1986        South-East Asia                           Myanmar
29  1986                 Europe                             Italy
30  1986                 Africa                      Sierra Leone
31  1986        Western Pacific  Micronesia (Federated States of)
34  1986                 Europe                Russian Federation
37  1986                 Europe                            Sweden
41  1986                 Europe                    Czech Republic
47  1986               Americas                            Mexico
49  1986                 Europe                             Malta
52  1986  Eastern Mediterranean                      Saudi Arabia
69  1986                 Africa                              Togo
70  1986                 Africa                        Madagascar
73  1986  Eastern Mediterranean                          Pakistan
74  1986               Americas  Bolivia (Plurinational State of)
83  1986                 Europe                           Ukraine
84  1986        South-East Asia                         Sri Lanka
86  1986               Americas                           Bahamas
89  1986  Eastern Mediterranean                           Lebanon
92  1986                 Africa                           Eritrea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
3            Beer           4.27
8         Spirits           1.55
20           Wine           0.00
29          Other            NaN
30          Other           4.48
31           Wine           0.00
34           Wine           0.80
37           Beer           3.04
41           Beer           6.82
47          Other           0.04
49           Wine           1.49
52           Wine           0.00
69        Spirits           0.42
70        Spirits           1.02
73          Other           0.01
74        Spirits           2.06
83          Other            NaN
84          Other           0.00
86           Wine           1.83
89           Wine           0.70
92        Spirits           0.00

Filters and displays data corresponding to the year 1986.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for 'Viet Nam'
df_vietnam = df[df['Country'] == 'Viet Nam']
print("Data for Viet Nam:\n", df_vietnam)

Data for Viet Nam:
     Year       WHO region   Country Beverage Types  Display Value
0   1986  Western Pacific  Viet Nam           Wine           0.00
14  1985  Western Pacific  Viet Nam        Spirits           0.05
28  1987  Western Pacific  Viet Nam           Beer           0.11
56  1987  Western Pacific  Viet Nam           Wine           0.00

Retrieves data entries specific to 'Viet Nam'.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for 'Western Pacific' region
df_western_pacific = df[df['WHO region'] == 'Western Pacific']
print("Data for Western Pacific region:\n", df_western_pacific)

Data for Western Pacific region:
     Year       WHO region                           Country Beverage Types  \
0   1986  Western Pacific                          Viet Nam           Wine
12  1985  Western Pacific  Lao People's Democratic Republic           Beer
14  1985  Western Pacific                          Viet Nam        Spirits
28  1987  Western Pacific                          Viet Nam           Beer
31  1986  Western Pacific  Micronesia (Federated States of)           Wine
43  1984  Western Pacific                             China           Wine
56  1987  Western Pacific                          Viet Nam           Wine
61  1984  Western Pacific                  Papua New Guinea        Spirits

    Display Value
0            0.00
12           0.00
14           0.05
28           0.11
31           0.00
43           0.03
56           0.00
61           0.08

Extracts data pertaining to the 'Western Pacific' WHO region.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for 'Wine'
df_wine = df[df['Beverage Types'] == 'Wine']
print("Data for Wine beverage type:\n", df_wine)

Data for Wine beverage type:
     Year             WHO region  \
0   1986        Western Pacific
2   1985                 Africa
6   1987                 Africa
10  1987                 Africa
15  1987                 Africa
16  1984               Americas
20  1986        South-East Asia
26  1985                 Europe
31  1986        Western Pacific
34  1986                 Europe
43  1984        Western Pacific
49  1986                 Europe
52  1986  Eastern Mediterranean
55  1989               Americas
56  1987        Western Pacific
57  1989                 Europe
66  1987  Eastern Mediterranean
81  1985                 Europe
85  1985                 Africa
86  1986               Americas
87  1989  Eastern Mediterranean
89  1986  Eastern Mediterranean
90  1989                 Africa
96  1985                 Europe
97  1984        South-East Asia
98  1984                 Africa
99  1985        South-East Asia

                                              Country Beverage Types  \
0                                            Viet Nam           Wine
2                                        Cte d'Ivoire           Wine
6                                           Mauritius           Wine
10                                           Botswana           Wine
15                                      Guinea-Bissau           Wine
16                                         Costa Rica           Wine
20                                            Myanmar           Wine
26  United Kingdom of Great Britain and Northern I...           Wine
31                   Micronesia (Federated States of)           Wine
34                                 Russian Federation           Wine
43                                              China           Wine
49                                              Malta           Wine
52                                       Saudi Arabia           Wine
55                                           Suriname           Wine
56                                           Viet Nam           Wine
57                                            Croatia           Wine
66                                               Iraq           Wine
81                                        Netherlands           Wine
85                   Democratic Republic of the Congo           Wine
86                                            Bahamas           Wine
87                                               Iraq           Wine
89                                            Lebanon           Wine
90                                             Malawi           Wine
96                                         Luxembourg           Wine
97                                          Indonesia           Wine
98                                  Equatorial Guinea           Wine
99              Democratic People's Republic of Korea           Wine

    Display Value
0            0.00
2            1.62
6            0.13
10           0.20
15           0.07
16           0.06
20           0.00
26           1.36
31           0.00
34           0.80
43           0.03
49           1.49
52           0.00
55           0.04
56           0.00
57           5.10
66           0.01
81           2.54
85           0.01
86           1.83
87           0.01
89           0.70
90           0.01
96           7.38
97           0.00
98           0.00
99           0.00

Displays data entries where the beverage type is 'Wine'.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows where 'Display Value' is greater than 2.0
df_high_consumption = df[df['Display Value'] > 2.0]
print("Data with Display Value > 2.0:\n", df_high_consumption)

Data with Display Value > 2.0:
     Year             WHO region                           Country  \
3   1986               Americas                          Colombia
9   1984                 Africa                           Nigeria
17  1989                 Africa                        Seychelles
21  1989               Americas                        Costa Rica
22  1984                 Europe                           Romania
27  1984  Eastern Mediterranean                           Bahrain
30  1986                 Africa                      Sierra Leone
35  1985               Americas             Saint Kitts and Nevis
37  1986                 Europe                            Sweden
41  1986                 Europe                    Czech Republic
42  1984                 Europe                           Ukraine
46  1987               Americas               Trinidad and Tobago
51  1987                 Europe                           Finland
57  1989                 Europe                           Croatia
74  1986               Americas  Bolivia (Plurinational State of)
79  1989                 Europe                           Finland
81  1985                 Europe                       Netherlands
82  1987                 Europe                           Ireland
91  1989                 Europe                          Bulgaria
94  1985                 Europe                           Ukraine
96  1985                 Europe                        Luxembourg

   Beverage Types  Display Value
3            Beer           4.27
9           Other           6.10
17           Beer           2.23
21        Spirits           4.51
22        Spirits           2.67
27           Beer           2.22
30          Other           4.48
35        Spirits           2.24
37           Beer           3.04
41           Beer           6.82
42        Spirits           3.06
46        Spirits           2.26
51           Beer           3.88
57           Wine           5.10
74        Spirits           2.06
79          Other           2.09
81           Wine           2.54
82        Spirits           2.25
91           Beer           4.43
94        Spirits           3.06
96           Wine           7.38

Selects rows where the 'Display Value' exceeds 2.0.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for the year 1986 and 'Wine' beverage type
df_1986_wine = df[(df['Year'] == 1986) & (df['Beverage Types'] == 'Wine')]
print("Data for the year 1986 and Wine beverage type:\n", df_1986_wine)

Data for the year 1986 and Wine beverage type:
     Year             WHO region                           Country  \
0   1986        Western Pacific                          Viet Nam
20  1986        South-East Asia                           Myanmar
31  1986        Western Pacific  Micronesia (Federated States of)
34  1986                 Europe                Russian Federation
49  1986                 Europe                             Malta
52  1986  Eastern Mediterranean                      Saudi Arabia
86  1986               Americas                           Bahamas
89  1986  Eastern Mediterranean                           Lebanon

   Beverage Types  Display Value
0            Wine           0.00
20           Wine           0.00
31           Wine           0.00
34           Wine           0.80
49           Wine           1.49
52           Wine           0.00
86           Wine           1.83
89           Wine           0.70

Retrieves data for the year 1986 where the beverage type is 'Wine'.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for 'Viet Nam' and 'Uruguay'
df_countries = df[df['Country'].isin(['Viet Nam', 'Uruguay'])]
print("Data for Viet Nam and Uruguay:\n", df_countries)

Data for Viet Nam and Uruguay:
     Year       WHO region   Country Beverage Types  Display Value
0   1986  Western Pacific  Viet Nam           Wine           0.00
1   1986         Americas   Uruguay          Other           0.50
14  1985  Western Pacific  Viet Nam        Spirits           0.05
28  1987  Western Pacific  Viet Nam           Beer           0.11
56  1987  Western Pacific  Viet Nam           Wine           0.00

Extracts data entries for 'Viet Nam' and 'Uruguay'.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('world_alcohol.csv')

# Filter rows for 'Wine' and 'Beer'
df_beverages = df[df['Beverage Types'].isin(['Wine', 'Beer'])]
print("Data for Wine and Beer beverage types:\n", df_beverages)

Data for Wine and Beer beverage types:
     Year             WHO region  \
0   1986        Western Pacific
2   1985                 Africa
3   1986               Americas
4   1987               Americas
6   1987                 Africa
10  1987                 Africa
11  1989               Americas
12  1985        Western Pacific
15  1987                 Africa
16  1984               Americas
17  1989                 Africa
19  1984                 Africa
20  1986        South-East Asia
23  1984                 Europe
26  1985                 Europe
27  1984  Eastern Mediterranean
28  1987        Western Pacific
31  1986        Western Pacific
32  1989                 Africa
34  1986                 Europe
36  1987  Eastern Mediterranean
37  1986                 Europe
41  1986                 Europe
43  1984        Western Pacific
45  1989                 Africa
48  1987               Americas
49  1986                 Europe
51  1987                 Europe
52  1986  Eastern Mediterranean
53  1984  Eastern Mediterranean
55  1989               Americas
56  1987        Western Pacific
57  1989                 Europe
64  1989               Americas
65  1989  Eastern Mediterranean
66  1987  Eastern Mediterranean
67  1989                 Africa
68  1989                 Africa
76  1985                 Africa
81  1985                 Europe
85  1985                 Africa
86  1986               Americas
87  1989  Eastern Mediterranean
88  1987  Eastern Mediterranean
89  1986  Eastern Mediterranean
90  1989                 Africa
91  1989                 Europe
96  1985                 Europe
97  1984        South-East Asia
98  1984                 Africa
99  1985        South-East Asia

                                              Country Beverage Types  \
0                                            Viet Nam           Wine
2                                        Cte d'Ivoire           Wine
3                                            Colombia           Beer
4                               Saint Kitts and Nevis           Beer
6                                           Mauritius           Wine
10                                           Botswana           Wine
11                                          Guatemala           Beer
12                   Lao People's Democratic Republic           Beer
15                                      Guinea-Bissau           Wine
16                                         Costa Rica           Wine
17                                         Seychelles           Beer
19                                              Kenya           Beer
20                                            Myanmar           Wine
23                                             Turkey           Beer
26  United Kingdom of Great Britain and Northern I...           Wine
27                                            Bahrain           Beer
28                                           Viet Nam           Beer
31                   Micronesia (Federated States of)           Wine
32                                          Mauritius           Beer
34                                 Russian Federation           Wine
36                                              Egypt           Beer
37                                             Sweden           Beer
41                                     Czech Republic           Beer
43                                              China           Wine
45                                           Zimbabwe           Beer
48                                          Nicaragua           Beer
49                                              Malta           Wine
51                                            Finland           Beer
52                                       Saudi Arabia           Wine
53                                             Kuwait           Beer
55                                           Suriname           Wine
56                                           Viet Nam           Wine
57                                            Croatia           Wine
64                   Bolivia (Plurinational State of)           Beer
65                                            Somalia           Beer
66                                               Iraq           Wine
67                                            Namibia           Beer
68                                             Uganda           Beer
76                                            Comoros           Beer
81                                        Netherlands           Wine
85                   Democratic Republic of the Congo           Wine
86                                            Bahamas           Wine
87                                               Iraq           Wine
88                                            Lebanon           Beer
89                                            Lebanon           Wine
90                                             Malawi           Wine
91                                           Bulgaria           Beer
96                                         Luxembourg           Wine
97                                          Indonesia           Wine
98                                  Equatorial Guinea           Wine
99              Democratic People's Republic of Korea           Wine

    Display Value
0            0.00
2            1.62
3            4.27
4            1.98
6            0.13
10           0.20
11           0.62
12           0.00
15           0.07
16           0.06
17           2.23
19           1.08
20           0.00
23           0.44
26           1.36
27           2.22
28           0.11
31           0.00
32           1.60
34           0.80
36           0.07
37           3.04
41           6.82
43           0.03
45           0.19
48           0.70
49           1.49
51           3.88
52           0.00
53           0.00
55           0.04
56           0.00
57           5.10
64           1.26
65           0.00
66           0.01
67           0.00
68           0.12
76           0.02
81           2.54
85           0.01
86           1.83
87           0.01
88           0.42
89           0.70
90           0.01
91           4.43
96           7.38
97           0.00
98           0.00
99           0.00

Displays data where the beverage type is either 'Wine' or 'Beer'.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Country': ['USA', 'UK', 'Canada', 'Germany', 'France'],
    'Value': [10, 20, 30, 40, 50]
})

# Filter rows where 'Country' is in the specified list
filtered_df = df[df['Country'].isin(['USA', 'UK', 'Canada'])]
print(filtered_df)

  Country  Value
0     USA     10
1      UK     20
2  Canada     30

Select rows where the 'Country' column's value is either 'USA', 'UK', or 'Canada'.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Email': ['user@example.com', 'invalid-email', 'test@domain.com']
})

# Regular expression pattern for valid emails
pattern = r'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'

# Filter rows with valid email addresses
filtered_df = df[df['Email'].str.match(pattern)]
print(filtered_df)

              Email
0  user@example.com
2   test@domain.com

Select rows where the 'Email' column contains valid email addresses.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [17, 22, 29, 35]
})

# Filter rows where 'Age' is between 18 and 30
filtered_df = df[df['Age'].between(18, 30)]
print(filtered_df)

      Name  Age
1      Bob   22
2  Charlie   29

Select rows where the 'Age' column's value is between 18 and 30 (inclusive).

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 35, 29],
    'Salary': [48000, 52000, 45000, 49000]
})

# Filter rows where 'Age' > 25 and 'Salary' < 50000
filtered_df = df[(df['Age'] > 25) & (df['Salary'] < 50000)]
print(filtered_df)

Select rows where 'Age' is greater than 25 and 'Salary' is less than 50000.

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Address': ['123 St', np.nan, '456 Ave', '789 Blvd']
})

# Filter rows where 'Address' is not null
filtered_df = df[df['Address'].notna()]
print(filtered_df)

Select rows where the 'Address' column is not null.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Filter rows where length of 'Name' > 4
filtered_df = df[df['Name'].apply(len) > 4]
print(filtered_df)

      Name
0    Alice
2  Charlie
3    David

 Select rows where the length of the 'Name' column is greater than 4

In [ ]:
import pandas as pd

# Sample DataFrame with custom index
df = pd.DataFrame({
    'Value': [10, 20, 30, 40, 50]
}, index=['a', 'b', 'c', 'd', 'e'])

# Filter rows where index is in ['a', 'c', 'e']
filtered_df = df.loc[['a', 'c', 'e']]
print(filtered_df)

   Value
a     10
c     30
e     50

Select rows where the index label is in the list ['a', 'c', 'e'].

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Product': ['ProMax', 'Ultra', 'ProLite', 'Standard']
})

# Filter rows where 'Product' contains 'Pro'
filtered_df = df[df['Product'].str.contains('Pro')]
print(filtered_df)

   Product
0   ProMax
2  ProLite

 Select rows where the 'Product' column contains the substring 'Pro'.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Anna', 'Charlie']
})

# Filter rows where 'Name' starts with 'A'
filtered_df = df[df['Name'].str.startswith('A')]
print(filtered_df)

    Name
0  Alice
2   Anna

 Select rows where the 'Name' column starts with 'A'.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Code': ['A123', 'B456', 'A789', 'C101']
})

# Filter rows where 'Code' matches pattern 'A\d{3}'
filtered_df = df[df['Code'].str.match(r'A\d{3}')]
print(filtered_df)

   Code
0  A123
2  A789

Filter rows where a column's value matches a specific pattern.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'ID': [1, 2, 2, 3, 4, 4, 5],
    'Value': [10, 20, 30, 40, 50, 60, 70]
})

# Filter rows where 'ID' is duplicated
filtered_df = df[df.duplicated('ID', keep=False)]
print(filtered_df)

   ID  Value
1   2     20
2   2     30
4   4     50
5   4     60

Select rows where the 'ID' column has duplicate values.

1. Write a Pandas program to join the two given dataframes along rows and assign all data.

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Join two DataFrames along rows and assign all data
This exercise demonstrates how to concatenate two DataFrames vertically, stacking rows from the second DataFrame below the first. This method is useful for combining datasets with the same structure

2. Write a Pandas program to join the two given dataframes along columns and assign all data.

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along columns:")
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

Here, you learn to concatenate two DataFrames horizontally, aligning them side by side. This technique is beneficial when combining datasets with the same index but different columns.

3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
print(combined_data)

Append rows to an existing DataFrame and display the combined data
This task illustrates how to add new rows to an existing DataFrame using the append() method, which is helpful for expanding datasets incrementally.

4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.

In [ ]:
import pandas as pd
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("Original DataFrames:")
print(student_data1)
print("\nDictionary:")
print(s6)
combined_data =  student_data1.append(dicts, ignore_index=True, sort=False)
print("\nCombined Data:")
print(combined_data)

Append a list of dictionaries or series to an existing DataFrame and display the combined data
Learn to extend a DataFrame by appending a list of dictionaries or series, allowing for flexible data addition from various sources.

5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
print(exam_data)

print("\nJoin first two said dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

print("\nNow join the said result_data and df_exam_data along student_id:")
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
print(final_merged_data)

oin two DataFrames along rows and merge with another DataFrame along the common column 'id'
This exercise combines vertical concatenation of two DataFrames and then merges the result with a third DataFrame based on a common 'id' column, demonstrating complex data integration.

6. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print("Merged data (inner join):")
print(merged_data)

Join two DataFrames using the common column of both DataFrames
Here, you practice merging two DataFrames on a shared column, effectively combining related data based on common keys

7. Write a Pandas program to join the two dataframes with matching records from both sides where available.

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='outer')
print("Merged data (outer join):")
print(merged_data)

Join two DataFrames with matching records from both sides where available
This task involves performing an inner join to retain only the rows with matching keys in both DataFrames, ensuring the merged dataset contains complete records.

8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data1, data2, how='left', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data2, data1, how='left', on=['key1', 'key2'])
print(merged_data)

Perform a left join on two DataFrames using keys from the left DataFrame only
Learn to execute a left join, keeping all records from the left DataFrame and adding matching records from the right DataFrame, filling in NaN for non-matching entries.

9. Write a Pandas program to join two dataframes using keys from right dataframe only.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data2, data1, how='right', on=['key1', 'key2'])
print(merged_data)

Perform a right join on two DataFrames using keys from the right DataFrame only
This exercise teaches how to conduct a right join, retaining all records from the right DataFrame and incorporating matching records from the left DataFrame, with NaN for non-matching entries.

10. Write a Pandas program to merge two given datasets using multiple join keys.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data2, data1, how='right', on=['key1', 'key2'])
print(merged_data)

Merge two datasets using multiple join keys
Here, you practice merging two DataFrames based on multiple columns serving as composite keys, which is essential when a single column isn't unique enough to serve as a key.

10. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

In [ ]:
import pandas as pd
s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name='col3')
df = pd.concat([s1, s2, s3], axis=1, keys=['column1', 'column2', 'column3'])
print(df)

Combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame
This task involves aligning two DataFrames with different indices and combining their columns, demonstrating how to handle datasets that don't share the same indexing.

12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (many-to-many join case):")
result = pd.merge(data1, data2, on='key1')
print(result)

Create a combination from two DataFrames where a column id combination appears more than once in both DataFrames
Learn to perform a many-to-many join, where combinations of key columns appear multiple times in both DataFrames, resulting in a Cartesian product of matching row

13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (Joining on index):")
result = data1.join(data2)
print(result)

Combine two DataFrames by filling null values in one DataFrame with non-null values from the other DataFrame
This exercise shows how to merge two DataFrames and use the combine_first() method to fill NaN values in one DataFrame with corresponding non-null values from another.

14. Write a Pandas program to merge two given dataframes with different columns.

In [ ]:
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerge two dataframes with different columns:")
result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

Merge two DataFrames with different columns
Here, you practice merging DataFrames that don't share all columns, resulting in a union of columns with NaN in places where data is missing, demonstrating flexibility in combining diverse datasets.

15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
df1.combine_first(df2)
print("Original DataFrames:")
print(df1)
print("--------------------")
print(df2)
print("\nMerge two dataframes with different columns:")
result = df1.combine_first(df2)
print(result)

Merge two DataFrames with different columns and remove duplicate rows
This task involves merging two DataFrames with differing columns and then removing any duplicate rows, ensuring the resulting DataFrame contains unique records.

In [ ]:
# prompt: Write a Pandas program to merge two DataFrames on a single column.

import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# merge two dataframes based on the 'key' column
result = pd.merge(df1, df2, on='key')

result

In [ ]:
# prompt: Write a Pandas program to perform an outer join on two DataFrames.

import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# outer join
result = pd.merge(df1, df2, on='key', how='outer')

result

In [ ]:
# prompt: Write a Pandas program that performs a left join of two DataFrames.

import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key': ['K0', 'K1', 'K2', 'K4'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# left join
result = pd.merge(df1, df2, on='key', how='left')

result

In [ ]:
# prompt: Write a Pandas program that performs a right join of two DataFrames.

import pandas as pd
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key': ['K0', 'K1', 'K2', 'K4'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# right join
result = pd.merge(df1, df2, on='key', how='right')

result

In [ ]:
# prompt: Write a Pandas program to merge two DataFrames on multiple columns.

import pandas as pd

data1 = {'key1': ['K0', 'K0', 'K1', 'K2'],
         'key2': ['K0', 'K1', 'K0', 'K1'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key1': ['K0', 'K1', 'K1', 'K2'],
         'key2': ['K0', 'K0', 'K0', 'K0'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# merge two dataframes based on multiple keys
result = pd.merge(df1, df2, on=['key1', 'key2'])

result

In [ ]:
# prompt: Write a Pandas program that merges DataFrames with overlapping column names.

import pandas as pd
data1 = {'key1': ['K0', 'K0', 'K1', 'K2'],
         'key2': ['K0', 'K1', 'K0', 'K1'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}

data2 = {'key1': ['K0', 'K1', 'K1', 'K2'],
         'key2': ['K0', 'K0', 'K0', 'K0'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# merge two dataframes with overlapping column names using suffixes
result = pd.merge(df1, df2, on=['key1', 'key2'], suffixes=('_left', '_right'))

result

In [ ]:
# prompt: Write a Pandas program to merge two DataFrames on their indexes.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Set the 'key' column as the index for both DataFrames
df1 = df1.set_index('key')
df2 = df2.set_index('key')

# Merge the DataFrames based on their indexes
merged_df = pd.merge(df1, df2, left_index=True, right_index=True)

merged_df

In [ ]:
# prompt: Write a Pandas program to merge different column names in DataFrames.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Method 1: Using 'on' parameter with a common column
result_on = pd.merge(df1, df2, on='key')
print("Method 1 (using 'on'):\n", result_on)

# Method 2: Using 'left_on' and 'right_on' with different column names
data3 = {'key1': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data4 = {'key2': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)
result_left_right = pd.merge(df3, df4, left_on='key1', right_on='key2')
print("\nMethod 2 (using 'left_on' and 'right_on'):\n", result_left_right)

# Method 3: Using indexes
df1 = df1.set_index('key')
df2 = df2.set_index('key')
result_index = pd.merge(df1, df2, left_index=True, right_index=True)
print("\nMethod 3 (using indexes):\n", result_index)

# Method 4: Handling overlapping column names with suffixes
data5 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data6 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai_new', 'Princi_new', 'Gaurav_new', 'Anuj_new'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj']}
df5 = pd.DataFrame(data5)
df6 = pd.DataFrame(data6)
result_suffixes = pd.merge(df5, df6, on='key', suffixes=('_left', '_right'))
print("\nMethod 4 (handling overlapping column names with suffixes):\n",result_suffixes)

In [ ]:
# prompt: Write a Pandas program to merge DataFrames with duplicate Keys

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Method 1: Using 'on' parameter with a common column
result_on = pd.merge(df1, df2, on='key')
print("Method 1 (using 'on'):\n", result_on)

# Method 2: Using 'left_on' and 'right_on' with different column names
data3 = {'key1': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data4 = {'key2': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)
result_left_right = pd.merge(df3, df4, left_on='key1', right_on='key2')
print("\nMethod 2 (using 'left_on' and 'right_on'):\n", result_left_right)

# Method 3: Using indexes
df1 = df1.set_index('key')
df2 = df2.set_index('key')
result_index = pd.merge(df1, df2, left_index=True, right_index=True)
print("\nMethod 3 (using indexes):\n", result_index)

# Method 4: Handling overlapping column names with suffixes
data5 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data6 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai_new', 'Princi_new', 'Gaurav_new', 'Anuj_new'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj']}
df5 = pd.DataFrame(data5)
df6 = pd.DataFrame(data6)
result_suffixes = pd.merge(df5, df6, on='key', suffixes=('_left', '_right'))
print("\nMethod 4 (handling overlapping column names with suffixes):\n",result_suffixes)

In [ ]:
# prompt: Write a Pandas program to merge multiple DataFrames on a common column.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}
data3 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'City': ['Delhi', 'Bangalore', 'Chennai', 'Mumbai'],
         'Salary': [10000, 20000, 30000, 40000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Merge multiple DataFrames
merged_df = pd.merge(pd.merge(df1, df2, on='key'), df3, on='key')

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames using join() on Index.

import pandas as pd
# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Set the 'key' column as the index for both DataFrames
df1 = df1.set_index('key')
df2 = df2.set_index('key')

# Merge the DataFrames based on their indexes
merged_df = df1.join(df2)

merged_df

In [ ]:
# prompt: Write a Pandas program to merge with custom indicator to track source.

import pandas as pd

# Sample DataFrames
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge with indicator
merged_df = pd.merge(df1, df2, on='key', indicator=True)

# Rename the indicator column
merged_df = merged_df.rename(columns={'_merge': 'Source'})

merged_df

In [ ]:
# prompt: Write a Pandas program to merge two DataFrames using multiple keys and specific join conditions.

import pandas as pd
# Sample DataFrames (replace with your actual data)
data1 = {'key1': ['K0', 'K0', 'K1', 'K2'],
         'key2': ['K0', 'K1', 'K0', 'K1'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key1': ['K0', 'K1', 'K1', 'K2'],
         'key2': ['K0', 'K0', 'K0', 'K0'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge with specific join conditions
merged_df = pd.merge(df1, df2, on=['key1', 'key2'], how='inner')

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames using suffixes for overlapping columns.

import pandas as pd

# Sample DataFrames with overlapping column names
data1 = {'key1': ['K0', 'K0', 'K1', 'K2'],
         'key2': ['K0', 'K1', 'K0', 'K1'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key1': ['K0', 'K1', 'K1', 'K2'],
         'key2': ['K0', 'K0', 'K0', 'K0'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Name': ['Jai_new', 'Princi_new', 'Gaurav_new', 'Anuj_new']}  # Overlapping 'Name' column

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames using suffixes to distinguish overlapping columns
result = pd.merge(df1, df2, on=['key1', 'key2'], suffixes=('_left', '_right'))

result

In [ ]:
# prompt: Write a Pandas program to merge DataFrames with custom sorting

import pandas as pd
# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames and sort by 'Age' in descending order
merged_df = pd.merge(df1, df2, on='key').sort_values('Age', ascending=False)

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames and drop duplicates.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames
merged_df = pd.merge(df1, df2, on='key')

# Drop duplicates (if any) based on all columns
merged_df = merged_df.drop_duplicates()

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames with missing data.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K4'],  # Introduce a missing key in data2
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames using an outer join to include all rows from both DataFrames
merged_df = pd.merge(df1, df2, on='key', how='outer')

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames and rename columns after merge.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames
merged_df = pd.merge(df1, df2, on='key')

# Rename columns
merged_df = merged_df.rename(columns={'Name': 'Employee Name', 'Age': 'Employee Age'})

merged_df

In [ ]:
# prompt: Write a Pandas program to merge DataFrames on multiple columns with different names.

import pandas as pd
# Sample DataFrames (replace with your actual data)
data1 = {'key1': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key2': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge DataFrames using 'left_on' and 'right_on'
merged_df = pd.merge(df1, df2, left_on='key1', right_on='key2')

merged_df

In [ ]:
# prompt: Write a Pandas program that merges DataFrames and select specific columns after merge.

import pandas as pd

# Sample DataFrames (replace with your actual data)
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32]}
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames
merged_df = pd.merge(df1, df2, on='key')

# Select specific columns after the merge
selected_columns = merged_df[['Name', 'Qualification']]  # Example: Select 'Name' and 'Qualification'

selected_columns

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and 'Type'
print("\nGroup by 'Category' and 'Type':")
grouped = df.groupby(['Category', 'Type']).sum()
print(grouped)

Group data by a single column and compute the sum
Uses .groupby() to aggregate numeric columns by sum.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply multiple aggregations
print("\nGroup by 'Category' and apply multiple aggregations:")
grouped = df.groupby('Category').agg(['sum', 'mean', 'max'])

print(grouped)

Group by multiple columns and compute the mean
Applies .groupby() on multiple columns and calculates the mean of numeric values.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [5, 15, 25, 35, 45, 55]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Define custom aggregation function
def custom_agg(x):
    return x.max() - x.min()

# Group by 'Category' and apply custom aggregation
print("\nGroup by 'Category' and apply custom aggregation:")
grouped = df.groupby('Category').agg(custom_agg)

print(grouped)

Apply multiple aggregation functions
Uses .agg() to apply multiple aggregation functions (sum, mean, min, max) on grouped data.

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category'
grouped = df.groupby('Category')
# Filter groups where the sum of 'Value' > 5
print("\nFilter groups where the sum of 'Value' > 5")
filtered = grouped.filter(lambda x: x['Value'].sum() > 5)

print(filtered)

Group data and count occurrences
Counts the number of occurrences of each category using .count() or .size().

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Define function to apply to each group
def scale_values(x):
    return x / x.max()
# Group by 'Category' and apply function
print("\nGroup by 'Category' and apply function:")
grouped = df.groupby('Category').transform(scale_values)
print(grouped)

Filter groups based on an aggregation condition
Filters grouped data based on conditions like sum or count using .filter().

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [1, 2, 3, 4, 5, 6],
        'Value2': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and apply different aggregations
print("\nGroup by 'Category' and apply different aggregations:")
grouped = df.groupby('Category').agg({'Value1': 'sum', 'Value2': 'mean'})
print(grouped)

Use transform to retain original DataFrame shape
Uses .transform() to apply aggregation while maintaining the original DataFrame structure.

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [5, 15, 25, 35, 45, 55]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply lambda function
print("\nGroup by 'Category' and apply lambda function:")
grouped = df.groupby('Category').agg(lambda x: x.max() - x.min())
print(grouped)

Apply custom aggregation functions
Defines and applies custom functions to grouped data using .apply().

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Type': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and 'Type'
print("\nGroup by 'Category' and 'Type':")
grouped = df.groupby(['Category', 'Type']).sum()
print(grouped)

Find the row with the maximum value in each group
Uses .idxmax() or .apply(lambda x: x.nlargest(1)) to retrieve the row with the highest value in each group.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [10, 20, 30, 40, 50, 60],
        'Value2': [100, 200, 300, 400, 500, 600]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and apply different functions
print("\nGroup by 'Category' and apply different functions:")
grouped = df.groupby('Category').agg({'Value1': 'mean', 'Value2': 'sum'})
print(grouped)

Calculate percentage of each value within a group
Computes percentages within groups using .groupby().apply(lambda x: x / x.sum()).

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply named aggregations
print("\nGroup by 'Category' and apply named aggregations:")
grouped = df.groupby('Category').agg(
    Value1_mean=('Value1', 'mean'),
    Value2_sum=('Value2', 'sum')
)

print(grouped)

Perform cumulative sum within groups
Uses .cumsum() to get cumulative sums of values within each group.

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [1, 2, 3, 4, 5, 6]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and transform by calculating the mean
print("\nGroup by 'Category' and transform by calculating the mean:")
transformed = df.groupby('Category').transform('mean')
print(transformed)

Group by a categorical column and sort aggregated results
Groups data and sorts the aggregated values using .sort_values().

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [1, 2, 3, 4, 5, 6],
        'Value2': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply different functions using a dictionary
print("\nGroup by 'Category' and apply different functions using a dictionary:")
grouped = df.groupby('Category').agg({'Value1': 'sum', 'Value2': 'mean'})

print(grouped)

Compute rolling aggregates within each group
Uses .rolling() with .groupby() to calculate rolling statistics within groups.

In [ ]:
import pandas as pd
# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
# Group by 'Category' and calculate the sum
print("\nGroup by 'Category' and calculate the sum:")
df['SumValue'] = df.groupby('Category')['Value'].transform('sum')

print(df)

Pivot tables for grouped data analysis
Uses .pivot_table() as an alternative to .groupby() for multi-dimensional aggregation.

In [ ]:
import pandas as pd

# Sample DataFrame with missing values
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, None, 30, 40, None, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Fill missing values with 0 and then group by 'Category' and sum
print("\nFill missing values with 0 and then group by 'Category' and sum:")
grouped = df.fillna(0).groupby('Category').sum()

print(grouped)

Aggregate based on time periods
Groups data by time-based features (e.g., months, years) using pd.Grouper().

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

# Group by 'Category' and apply multiple named aggregations
print("\nGroup by 'Category' and apply multiple named aggregations:")
grouped = df.groupby('Category').agg(
    Total_Value1=('Value1', 'sum'),
    Average_Value2=('Value2', 'mean')
)

print(grouped)

Hierarchical grouping and multi-index aggregation
Uses multiple grouping keys to create hierarchical indexes and apply aggregations.