<a href="https://colab.research.google.com/github/Dharaneesh-EM/Pandas-Handling-missing-values/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create the DataFrame
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Detect missing values
missing_values = df.isnull()

# Display the result
print(missing_values)

    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

This concise line creates the DataFrame from the data dictionary, immediately applies the isnull() method to detect missing values, and prints the resulting boolean DataFrame.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders DataFrame:")
print(df)
print("\nIdentify the columns which have at least one missing value:")
print(df.isna().any())

Original Orders DataFrame:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Identify the columns which have at least one missing value:
ord_no          True
purch_amt      False
ord_date        True
customer_id    False
salesman_id     True
dtype: bool

This output shows that the columns 'ord_no', 'ord_date', and 'salesman_id' have at least one missing value (True), while 'purch_amt' and 'customer_id' do not have any missing values (False).

In [ ]:
import pandas as pd

# Create the DataFrame
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Count the number of missing values in each column
missing_values_count = df.isnull().sum()

# Display the result
print(missing_values_count)

This method uses the isnull() function to identify missing values (NaN) in the DataFrame, and then sum() to count them for each column. The result is a Series object showing the count of missing values for each column in the DataFrame.

In [ ]:
import pandas as pd
import numpy as np

# Create the DataFrame
data = {
    'ord_no': ['70001', np.nan, '70002', '70004', np.nan, '70005', '--', '70010', '70003', '70012', np.nan, '70013'],
    'purch_amt': [150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, '?', 12.43, 2480.4, 250.45, 3045.6],
    'ord_date': ['?', '2012-09-10', np.nan, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': ['3002', '3001', '3001', '3003', '3002', '3001', '3001', '3004', '--', '3002', '3001', '3001'],
    'salesman_id': ['5002', '5003', '?', '5001', np.nan, '5002', '5001', '?', '5003', '5002', '5003', '--']
}

df = pd.DataFrame(data)

# Function to replace non-valuable information with NaN
def clean_data(value):
    if value in ['?', '--', np.nan]:
        return np.nan
    return value

# Apply the cleaning function to the DataFrame
df_cleaned = df.applymap(clean_data)

# Display the cleaned DataFrame
print(df_cleaned)

This Pandas program cleans a DataFrame by replacing non-valuable information ('?', '--', and NaN) with NaN values. It does this by:

Creating a DataFrame with sample data

Defining a cleaning function to replace non-valuable entries

Applying the cleaning function to the entire DataFrame using applymap()

Displaying the cleaned DataFrame

The result is a standardized DataFrame where all missing or non-informative data is consistently represented as NaN, facilitating easier data analysis and processing.

In [ ]:
import pandas as pd

# Create the DataFrame
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Drop rows where at least one element is missing
df_cleaned = df.dropna()

# Display the cleaned DataFrame
print(df_cleaned)

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0  70001.0     150.50  2012-10-05         3002       5002.0
5  70005.0    2400.60  2012-07-27         3001       5001.0
8  70003.0    2480.40  2012-10-10         3003       5003.0
9  70012.0     250.45  2012-06-27         3002       5002.0

This result shows that only 4 rows remain after dropping all rows with missing values. The dropna() function removes any row that contains at least one NaN (Not a Number) value, which represents missing data in pandas.

In [ ]:
import pandas as pd

# Define the test data
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Drop columns where at least one element is missing
df_dropped = df.dropna(axis=1)

# Display the resulting DataFrame
print(df_dropped)

The dropna(axis=1) method removes all columns that contain at least one NaN value.

After applying this method to the test data:

Columns ord_no, ord_date, and salesman_id are dropped because they contain missing values.

Only purch_amt and customer_id remain in the resulting DataFrame as they have no missing values.

In [ ]:
import pandas as pd

# Create the DataFrame
data = {
    'ord_no': [None, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [None, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': [None, '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [None, 3001.0, 3001.0, 3003.0, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, 3001.0]


df = pd.DataFrame(data)

# Drop rows where all elements are missing
df_cleaned = df.dropna(how='all')

# Display the cleaned DataFrame
print(df_cleaned)

The resulting df_cleaned DataFrame will have the rows with all missing values removed. In this case, it will remove the first row (index 0) from the original DataFrame, as it's the only row where all elements are NaN.

In [ ]:
import pandas as pd

# Test Data
data = {
    'ord_no': [None, None, 70002.0, None, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, None],
    'purch_amt': [None, 270.65, 65.26, None, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, None],
    'ord_date': [None, '2012-09-10', None, None, '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', None],
    'customer_id': [None, 3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
}

df = pd.DataFrame(data)

# Keep rows with at least 2 NaN values
result = df[df.isnull().sum(axis=1) >= 2]
print(result)

This program creates a DataFrame from the given test data and then filters it to keep only the rows with at least 2 NaN values. The df.isnull().sum(axis=1) calculates the number of NaN values in each row, and >= 2 condition keeps rows where this sum is 2 or more.